li.tight {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: crimson;
    border-color: crimson;
}

.navbar-brand a{
    color: #FFFFFF;
}

/* navbar
.navbar-inverse {
background-color: #B40500;
border-color: #B40500;
}
.navbar-brand a{
color: #FFFFFF;
}


*/
