<!-- extend base layout -->
{% extends "index_base.html" %}


{% block head_css %}
    {{ super() }}
    
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}



{% block content %}


    
    <div class="main">
        <div class="home">
            <div class="image">
                 <img src="{{url_for('static',filename='img/dd/logo.jpg')}}" alt="">
            </div>
            <div class="content">
                <h1>Join the millions learning to code <br> Codecademy for free</h1>

                <form action="#">
                    <label for="fname">Email</label><br>
                    <input type="text" id="fname" ><br><br>
                    <label for="fname">Password</label><br>
                    <input type="text" id="fname" ><br><br>
                    
                  </form> 
                  <button>Sign up</button>
                  <span>By signing up for Codecademy, you agree to Codecademy's Terms of Service & Privacy Policy.</span>
                  
            </div>
        </div>

        <div class="home">
                <div class="content">
                    <img src="{{url_for('static',filename='img/dd/p20.png')}}" alt="">
                </div>
                <div class="image">
                    <img src="{{url_for('static',filename='img/dd/p2.png')}}" alt="">
                </div>
        </div>
        <div class="home">
            <div class="image">
                 <img src="{{url_for('static',filename='img/dd/p3.png')}}" alt="">
            </div>
            <div class="content">
                <span>Beginners welcome</span>
                <h1>Start coding in seconds</h1>
                <span>Go ahead, give it a try. Our hands-on learning <br>
                    environment means you'll be writing real code <br>
                    from your very first lesson.</span>
                <div>
                    <a href="#">Continue lesson</a>
                    <a href="#">More beginner courses</a>
                </div>                      
            </div>
        </div>

        <div class="home">
            <div class="content">
                
                <h1>Not sure where to start?</h1>
                <span>This short quiz will sort you out. Answer a <br>
                    few simple questions to get personal career<br>
                     advice and course recommendations.</span>

                <a href="#">Take the quiz</a>

            </div>
            <div class="imagesize">
                <img src="{{url_for('static',filename='img/dd/p4.svg')}}" alt="">
            </div>
        </div>

        <div class="people"> 
            <h1>Stories from real people</h1>
            <p>Watch and read stories from the Codecademy community.</p>
            <div class="box-container">
                <div class="box">
                    <img src="{{url_for('static',filename='img/dd/GiacomoSorbi.jpeg')}}" alt="">
                    <h2>Taking a different path: One Team Lead's story</h2>
                    <p>Giacomo S., Team Lead, London</p>
                </div>
                <div class="box">
                    <img src="{{url_for('static',filename='img/dd/AlisonVoghel.jpg')}}" alt="">
                    <h2>See how this Architect switched to UX Design</h2>
                    <p>Alison V., Senior UX Designer @ Acquia, Columbus</p>
                </div>
                <div class="box">
                    <img src="{{url_for('static',filename='img/dd/ManuelSousa.jpg')}}" alt="">
                    <h2>Lessons from a Chef turned Deputy CTO</h2>
                    <p>Manuel S., Deputy CTO @ PaxFamilia, Brussels</p>
                </div>
                <div class="box">
                    <img src="{{url_for('static',filename='img/dd/Rosita.jpg')}}" alt="">
                    <h2>How one Developer learned to code with her disability</h2>
                    <p>Rosita R., Front-End Developer, Brummen</p>
                </div>
            </div>
        </div>

        <div class="page4">
            <div class="contentcolor">
                
                <h1>Join in on something big</h1>
                <h1>50M Learners</h1>
                <h1>190+ Countries</h1>
                <h1>3.7B Code submits</h1>
            </div>

        </div>

        <div class="home">
            <div class="content">
                
                <h1>Level up your team's skills</h1>
                <span>Give your team the knowledge, experience, and confidence <br>
                    they need to tackle any problem.</span>

                <a href="#">Explore business plans</a>

            </div>
            <div class="image">
                <img src="{{url_for('static',filename='img/dd/p8.svg')}}" alt="">
            </div>
        </div>

        <div class="home">
            <div class="image">
                 <img src="{{url_for('static',filename='img/dd/p9.png')}}" alt="">
            </div>
            <div class="content">
                <h1>Start for free</h1>
                <p>If you’ve made it this far, you must be at least <br>
                    a little curious. Sign up and take the first step <br>
                    toward your goals.</p>
                <button>Sign up</button>
  
            </div>
        </div>

        <div class="home">
                <div class="image">
                    <img src="{{url_for('static',filename='img/dd/f1.png')}}" alt="">
                </div>
                <div class="image">
                    <img src="{{url_for('static',filename='img/dd/f2.png')}}" alt="">
                </div>
        </div>

    </div>
    
    
    


{% endblock %}
